{% extends 'base.html' %}

{% block title %}
    Automated Blinds - Control
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="static/stylesheets/text.css">
    <link rel="stylesheet" href="static/stylesheets/form.css">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div>
        {% if min %}
            {{ min }}
        {% end if %}
        {% if max %}
            {{ max }}
        {% end if %}
        {% if cur %}
            {{ cur }}
        {% end if %}
    </div>
    <div>
        <form action="{{ url_for('control') }}" method="POST">
            {{ controlForm.value(class_='value') }}
            {{ controlForm.submitUp }}
            {{ controlForm.submitDown }}
        </form>
    </div>
{% endblock %}