{% extends 'base.html' %}

{% block title %}
    Automated Blinds - Timer
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="static/stylesheets/navbar.css">
    <link rel="stylesheet" href="static/stylesheets/text.css">
    <link rel="stylesheet" href="static/stylesheets/form.css">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    {% if downTime %}
        {{ downTime }}
    {% endif %}

    {% if upTime %}
        {{ upTime }}
    {% endif %}

    <form action="{{ url_for('timer') }}" method="POST">
        {{ scheduleForm.downTime }}
        {{ scheduleForm.upTime }}
        {{ scheduleForm.submitTime }}
    </form>
{% endblock %}